<div class="jumbotron">
    <h1 class="display-4">Welcome to Final Project</h1>
    <p class="lead">Project Specifications</p>
    <hr class="my-4">
    <p>Client needs an application to help nurse practitioners to monitor patients during the first weeks of their
        release from hospital and also helps the patients to monitor their daily activities. Develop a responsive app that
        implements the following functionalities:
        1. User registers/login
        2. If user is a nurse:
        a. Allow the user to enter vital signs: body temperature, heart rate, blood pressure, or respiratory
        rate.
        b. Allow the user to access information captured during a previous clinical visit, vital signs: body
        temperature, heart rate, blood pressure, or respiratory rate.
        c. Allow the user to send daily motivational tips to the patient (by storing them in database and
        providing a daily tips page for the patient to view, etc.).
        3. If user is a patient:
        a. Allow user to create and send an emergency alert to first responders (by emailing them, etc.)
        b. Allow user to run video or games to motivate patients to do their physical exercises at home.
        c. Allow user to enter daily information as specified by the doctor/nurse practitioner.
        d. Allow user to use a checklist of common signs and symptoms, to generate a list of possible
        medical conditions and advice on when to consult a health care provider.</p>
    <a class="btn btn-info btn-lg" routerLink="/login" role="button">Let's get started!</a>
  </div>
