<div class="container-fluid text-dark">
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
 <form method="POST">
    <p class="h2 text-center mb-4">{{ title }}</p>
    <div class="md-form">

      <label for="materialFormRegisterNameEx">First Name</label>
      <input type="text" id="materialFormRegisterNameEx" name="courseCode" class="form-control">
    </div>
    <div class="md-form">

      <label for="materialFormRegisterEmailEx">Last Name</label>
      <input type="text" id="materialFormRegisterEmailEx" name="courseName" class="form-control">

    </div>
    <div class="md-form">

      <label for="materialFormRegisterConfirmEx">Username</label>
      <input type="text" id="materialFormRegisterConfirmEx" name="section" class="form-control">
    </div>
    <div class="md-form">

        <label for="materialFormRegisterConfirmEx">Password</label>
        <input type="password" id="materialFormRegisterConfirmEx" name="section" class="form-control">
      </div>
    <div class="md-form">

      <label for="materialFormRegisterPasswordEx">Email</label>
      <input type="Email" id="materialFormRegisterPasswordEx" name="semester" class="form-control">
    </div>
    <div class="md-form">

        <label for="materialFormRegisterPasswordEx">Role</label>
        <input type="text" id="materialFormRegisterPasswordEx" name="semester" class="form-control">
      </div>
    <div class="text-center mt-4">
      <input type="submit" class="login" value="Register">
    </div>
  </form>
</div></div></div>

