<div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4 white-text text-center text-md-left">
          <h2 class="display-4 font-weight-bold">Welcome to {{ title }}</h2>
          <hr class="hr-light">
          <div class="row">
            <div class="col-md-offsetr-3 col-md-12">
              <table class="table table-bordered table-striped table-hover">
                <tr>
                  <th class="text-center">Body Temperature</th>
                  <th class="text-center">Heart Rate</th>
                  <th class="text-center">Blood Pressure</th>
                  <th class="text-center">Respiratory Rate</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                <tr>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <a href="/courses/edit/" class="btn btn-info"><i class="fas fa-pencil-alt"></i> Edit</a>
                  </td>
                  <td class="text-center">
                    <a href="/courses/delete/" class="btn btn-danger"><i class="fas fa-pencil-alt"></i> Delete</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-5 mb-4">
          <div class="card">
            <div class="card-body">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

