<div class="container">
    <div class="row">
        <div class="col-md">

<form method="POST">
    <p class="h4 text-center mb-4">{{ title }}</p>
    <div class="md-form">
      <i class="fa fa-user prefix grey-text"></i>
      <label for="materialFormRegisterNameEx">User Name</label>
      <input type="text" id="materialFormRegisterNameEx" name="courseCode" class="form-control">
    </div>

    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <label for="materialFormRegisterPasswordEx">Password</label>
      <input type="text" id="materialFormRegisterPasswordEx" name="semester" class="form-control">
    </div>
    <div class="text-center mt-4">
      <input type="submit" class="login" value="Login">
    </div>
  </form>


</div>
</div>
</div>

