<div class="container-fluid text-dark">
  <div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <!-- Form container -->
      <form (ngSubmit)="onSubmitPatientClinicUpdate()">
        <h2 class="display-4 font-weight-bold">Patient's Info</h2>
        <hr>
        <br>
        <div class="md-form">
          <i class="fa fa-user prefix grey-text"></i>
          <label for="materialFormRegisterNameEx">Body Temperature</label>
          <input type="Number" id="materialFormRegisterNameEx" name="bodyTemperature" class="form-control">
        </div>
        <div class="md-form">
          <i class="fa fa-heart prefix grey-text"></i>
          <label for="materialFormRegisterEmailEx">Heart Rate</label>
          <input type="text" id="materialFormRegisterEmailEx" name="courseName" class="form-control">

        </div>
        <div class="md-form">
          <i class="fa fa-exclamation-triangle prefix grey-text"></i>
          <label for="materialFormRegisterConfirmEx">Blood Pressure</label>
          <input type="text" id="materialFormRegisterConfirmEx" name="section" class="form-control">
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <label for="materialFormRegisterPasswordEx">Respiratory Rate</label>
          <input type="text" id="materialFormRegisterPasswordEx" name="semester" class="form-control">
        </div>
        <div class="text-center mt-4">
          <input type="submit" class="login" value="Add">
        </div>
      </form>
    </div>
  </div>
</div>
